@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/whitney.eot'); /* IE9 Compat Modes */
  src: local('Whitney Book'), local('Whitney Book Regular'), local('WhitneyBook'), local('WhitneyBook-Regular'),
       url('../fonts/whitney.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/whitney.woff') format('woff'), /* Modern Browsers */
       url('../fonts/whitney-book.otf') format('opentype'), /* Safari, Android, iOS */
       url('../fonts/whitney.svg#Whitney') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: normal;
  src: local('Whitney Book Italic'), local('Whitney Italic'), local('WhitneyBook-Italic'), local('Whitney-Italic'),
       url('../fonts/whitney-italic.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Whitney';
  font-style: normal;
  font-weight: bold;
  src: local('Whitney Book SemiBold'), local('Whitney SemiBold'), local('WhitneyBook-SemiBold'), local('Whitney-SemiBold'),
       url('../fonts/whitney-semibold.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'Whitney';
  font-style: italic;
  font-weight: bold;
  src: local('Whitney Book SemiBold Italic'), local('Whitney SemiBold Italic'), local('WhitneyBook-SemiBoldItalic'), local('Whitney-SemiBoldItalic'),
       url('../fonts/whitney-semibold-italic.woff') format('woff'); /* Modern Browsers */
}

* {
  font-family: Whitney, Roboto, "Open Sans", "Segoe UI", sans-serif;
  word-wrap: break-word;
  line-height: 1.456;
}
a {color: #0e0}

html {
  background: #4869b5;
  background: -webkit-linear-gradient(141deg, #3e64af 12%, #4c6dbb 54%, #4660b8 92%); 
  background: -o-linear-gradient(141deg, #3e64af 12%, #4c6dbb 54%, #4660b8 92%); 
  background: -moz-linear-gradient(141deg, #3e64af 12%, #4c6dbb 54%, #4660b8 92%); 
  background: linear-gradient(141deg, #3e64af 12%, #4c6dbb 54%, #4660b8 92%); 
  opacity: 0.95;
  background-attachment: fixed;
  height: 100%; 
  overflow: auto;
}

body {padding: 24px 12px; max-width: 700px; margin: auto}

h1, h2, h3, p, span {margin: 8px 1px; color: #f7f7f7}
h3 {font-size: 17px}
code {
  margin: 3px; padding: 2.5px 5px; font: 14px Consolas, 'Courier New', monospace; 
  color: #111; border-radius: 5px; border: 1px solid #666; background: #ececec; 
}
code.larger {font-size: 17px}
.smaller {font-size: smaller}

a.box {
  position: fixed; right: 8px; top: 8px; z-index: 32760; background: #ddd; width: 45px;
  height: 56px; border-radius: 8px; -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}
span.refresh:before {
  content: url('data:image/svg+xml, <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 408 408" xml:space="preserve"><g><g id="refresh"><path d="M346.8,61.2C311.1,22.95,260.1,0,204,0C91.8,0,0,91.8,0,204s91.8,204,204,204c94.35,0,173.4-66.3,196.35-153H346.8 C326.4,313.65,270.3,357,204,357c-84.15,0-153-68.85-153-153c0-84.15,68.85-153,153-153c43.35,0,79.05,17.85,107.1,45.9 l-81.6,81.6H408V0L346.8,61.2z"/></g></g></svg>');
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 15.5px 9px;
}

div.button {display: inline}
.post {
  background: #21b942;
  padding: 4px 12px;
  margin: 3px;
  border-radius: 0;
  font-size: 18px;
  border: 0;
  transition: all 0.5s;
  color: #f4f4f4;
  -moz-box-shadow: 0 3.2px 7.2px rgba(0, 0, 0, 0.12), 0 2px 4.8px rgba(0, 0, 0, 0.24); 
  box-shadow: 0 3.2px 7.2px rgba(0, 0, 0, 0.12), 0 2px 4.8px rgba(0, 0, 0, 0.24); 
}

.small-button {
  background: #30c250;
  padding: 3px 9px;
  margin: 3px;
  border-radius: 3px;
  font-size: 15px;
  border: 3px solid #30c250;
  transition: all 0.5s;
  color: #f7f7f7;
}

.post:hover {background: #109b21; color: #ddd}
.small-button:hover {background: white; color: #30c250}
button:focus {outline: none}

#top {display: inline-block}
hr {margin: 2px 0; border: none; height: 1px; color: white; background: white}
p.bottom, #bottom {margin-top: 14px}
hr.bottom {margin: 2px}

.name {
  font-size: 15px; border-radius: 3px 3px 0 0; border: none; background: #f5f5f5;
  border-bottom: 3px solid #30c250; margin: 4px; padding: 3px 5px; color: black;
}
.name:focus {outline: none}

textarea {
  font-size: 14px; border-radius: 3px 3px 0 0; border: none; color: black; 
  border-bottom: 3px solid #30c250; margin: 4px; padding: 3px 5px; 
  width: 87.5%; height: 6em; max-width: 700px; background: #f5f5f5;
}
textarea:focus {outline: none}
#txt {height: 300px}

hr.s {margin-right: 20px}
div.l {margin: 6px 10px 12px; color: #f7f7f7; line-height: 21.6px; font-size: 22px}
.l a, .l small {font-size: 15.2px; vertical-align: top}
small.s, a.s {font-size: 14px}

.p {
  font-weight: bold; font-size: 17.5px; padding: 2px 5px; margin: 3px; 
  border: 0.75px solid #aaa; color: #13a; background: #f9f9f9;
}
.current {color: #666}

#count {margin: 0.4em 1px}

img.e, img[src='/25.png'], img[src='/33.png'] {width: 16px; height: 16px; vertical-align: middle}

.quote {
  background: #eee; border-radius: 4px; font-size: 12.8px; display: block; 
  color: #444; padding: 4px 6px; margin: 3.6px 10px 3.6px 0;
}
.quote:before {content: '> '}

.content {
  font: 14px/1.472 Whitney, Roboto, 'Open Sans', 'Segoe UI', Calibri, 微软雅黑, Arial, sans-serif; 
  display: block; margin: 0 22px 0 0; color: #f7f7f7;
}

.link {color: #64f883}
.warning {margin: none; font-size: 11px}

ul {padding-left: 18px; color: #f7f7f7}
.compact {font-size: 96%; margin: 0.25em 0.0625em}

#footer-name {float: left; display: inline-block; font-size: smaller}
#footer-time {float: right; display: inline-block; font-size: smaller}

@media only screen and (max-width: 400px) {
  #footer-name, #footer-time {float: none; display: block; margin: 3.2px}
}
